body {
    margin: 1%;
    padding: 10px;
    flex-direction: column;
    min-height: 100vh;
    justify-content: flex-start;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
   
}
h1 { 
    background-image: url("../assets/images/banner-image.png");
    background-position:cover ;
    background-size: 600px 600px;
    block-size: 180px;
    margin-left: 150px;
    width: 100%;
    text-align: center;
    }

.intro {
    block-size: 250px;
    height: 150px;
    width: 150px;
    background-color: rgb(255, 174, 174);   
    margin: 10px;
}
.selfie {
    background-image: url("../assets/images/selfie.jpg");
    background-position:cover ;
    background-size: contain;
    background-repeat: no-repeat;
    block-size: 250px;
    height: 150px;
    width: 150px;
}


.sidebar {
    height: auto;
    width: 150px;
    position: absolute;
    left: 10px;
    top: 10px;
    bottom: auto;
    padding-top: auto;
    background-color: blanchedalmond;
}
.sidebar li {
    padding: 8px;
    font-size: 26px;
    display: block;
    list-style-type: none;
    display: inline;
    line-height: 100px;
    
}
.body-text {
    margin-left: 150px;
    font-size: 18px;  
}
.contact-me {
    margin-left: 150px;
font-size: 18px;  
}

@media screen and (max-width: 768px) {
    main,
    nav {
      flex-direction: column;
    }
}